#App {
  background-color: #87cefa;
}

#App header {
  background-color: #2a2929;
  color: #fff;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  align-items: center;
}

#App main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

#App header section {
  background-color: rgb(80, 197, 252);
}

#App .widget {
  display: inline-block;
  line-height: 0.5em;
  border-radius: 10px;
  color: black;
  font-size:0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

#App #heartWidget {
  font-size: 1.5em;
  margin: 1em
}

#App span {
  display: inline-block
}
.widget {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
.color-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #222;
}

.color-dot-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.color-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ddd;
}
.red {
  background-color: #b22222
}

.orange {
  background-color: #e6ac00
}

.yellow {
  background-color: #e6e600
}

.green {
  background-color: green
}

.blue {
  background-color: blue
}

.purple {
  background-color: purple
}
